body {
    background-color: #7FFF00;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

textarea {
    width: 250px;
    height:150px;
}

.mood {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

#mood, p {
    background-color: #FF69B4;
}

button {
    margin: 20px;
    border-radius: 10px;
    color: #DC143C;
    background-color: #F8F8FF;
    height: 30px;
    font-weight: bold;
}
